.row {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;
    align-items: start;
    margin-top: 3rem;

    &__half {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 6.25rem;
        align-items: start;

        @mixin atMedium {
            grid-row-gap: 6.25rem;
        }
    }

    &--t-padding {
        padding-top: 80px;
    }

    @mixin atMedium {       
        grid-template-columns: 1.25fr 2fr;
        
        &__medium-4 {
            grid-column: 1 / 2;
        }

        &__half {
            grid-template-columns: 1fr 1fr;
        }

        &__medium-6 {
            grid-template-columns: 50% 50%;
        }
    
        &__medium-8 {
            grid-column: 2 / -1;
        }
    }

    /* Equal height rules */
    .flexbox &--equal-height-at-medium {
        @mixin atMedium {
            display: flex;
            justify-content: space-between;       
        }
    
        & > div {
            display: flex;
            flex: 0 0 31%;
        }
    }

    .flexbox &--equal-height-at-large {
        @mixin atLarge {
            display: flex;
            justify-content: space-between;        
        }
    
        & > div {
            display: flex;
            flex: 0 0 31%;
        }
    }
}